<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Skintker Vault</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>
<img src="images/logo.png" alt="Skintker logo">
<h1>Skintker Vault</h1>
<h5>This are the API services built for the Skintker android application.</h5>
<pre>
    Allows a user to <b>create</b>, <b>edit</b> or <b>delete</b> a single log. Also can <b>retrieve</b> or <b>delete</b> all logs from the same user.
    Additionally, <b>statistics</b> can be obtained per user showing a resume of the reported logs information.
</pre>

</body>
</html>