<!DOCTYPE html>
<html lang="en">
<head>
    <title>Skintker Vault</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/styles.css">
    <script type="text/javascript" src="assets/script.js" defer></script>

</head>

<body>
    <h1>Skintker vault</h1>

    <h3>Remove all your data from this form</h3>

    <div class="info-container">
        <p>Input your email below and click the <b>Wipe data</b> button.</p>
        <div class="row">
            <input type="text" id="emailInput" class="text-box" placeholder="Email">
            <button class="wipe-button" id="wipeButton" onclick="onWipeButton()">Wipe data</button>
        </div>
    </div>

    <h3>Remove your data from the application</h3>
    <p>Below you will find the steps needed to remove all your data in the <b>Skintker</b> application:</p>


    <div class="image-container">
        <div class="image-title-container">
            <div class="text-overlay">Go to settings</div>
            <img src="images/examplehomedelete.png" alt="Skintker remove example settings">
        </div>

        <div class="image-title-container">
            <div class="text-overlay">Click on the Wipe Data button</div>
            <img src="images/examplehomesettings.png" alt="Skintker remove example home">
        </div>

        <div class="image-title-container">
            <div class="text-overlay">Confirm the dialog</div>
            <img src="images/examplehomedeletedialog.png" alt="Skintker remove example settings dialog">
        </div>
    </div>

</body>
</html>